@import "../Vars";

.pokemon {
    width: 100%;
    height: 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transition: color 500ms ease, background-color 500ms ease;

    &:hover {
        background: #ccc;
        color: $screen;

        a {
            color: $screen;
        }
    }
}