@import "../Vars";

.search-form {
    height: 100%;
    
    input {
        border: 8px solid $screen-border;
        background: $screen;
        color: $screen-text;
        min-height: 20%;
        margin: auto;
        margin-top: 75px;
        width: 100%;
        display: block;
        font-family: 'Rubik Mono One';
        padding: 10px;
        box-sizing: border-box;
        border-radius: 3px;
    }
}

    